[submodule "scripts/ezlibs-scripts"]
	path = scripts/ezlibs-scripts
	url = https://github.com/Keristero/ezlibs-scripts
[submodule "assets/ezlibs-assets"]
	path = assets/ezlibs-assets
	url = https://github.com/Keristero/ezlibs-assets
[submodule "assets/NebuLibsAssets"]
	path = assets/NebuLibsAssets
	url = https://github.com/RogueClaris/Nebulous-Liberations-Assets
[submodule "scripts/ezlibs-custom/nebulous-liberations"]
	path = scripts/ezlibs-custom/nebulous-liberations
	url = https://github.com/RogueClaris/Nebulous-Liberations-Scripts
